body{
    width: 100%;
    height: 100%;
    margin: 0;
}
header{
    background: white;
    height: 100px;
    width: 100%;
}

.headerBox{
    width: 20%;
    height: 100px;
    float: right;
}

.headerLogo{
    width: 20%;
    height: 100px;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
}

.order{
    display:  inline-block;
    background-color: #D2DCE8;
    width: 10%;
    height: 50%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1.5%;
    margin-right: 2%;
    margin-left: 2%;
    float: right;
}

.orderText{
    margin-top: 8%;
    font-family: sans-serif;
    text-align: center;
    color: ghostwhite;
    font-size: 25px;
}

.background{
    width: 100%;
    /* endret siden sist*/
    left: 0;
    position: absolute;
    text-align: right;
    top: 55%;
    width: 100%;
    font-size: 30px;
    margin-left: -2%;
    color: ghostwhite;
    font-family: 'Arimo', sans-serif;
}

footer{
    position: absolute; /*endra 27.10 12:58*/
    bottom: 0;
    background: white;
    height: 100px;
    width: 100%;
}
img{

}
p{
    color: #4B698E;
    font-family: sans-serif;
    font-size: 28px;
    margin-top: 12%;
    text-align: center;
}

/*endret 27.10 13:41: Ryan*/

h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 200;
    color: #748DAC;
}

h2{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: #748DAC;
}

.howTitle{
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
    width: 30%;
    height: 30%;
    
}

.howInfo{
    position: absolute;
    margin-left: 20%;
    margin-top: 2%;
    width: 30%;
    height: 30%;
    
}

.howImage{
    width: 50%;
    height: 80%;
    float: right;
    margin-right: -9%;
    margin-top: -7%;
   
}

/* lagt til den 31.10 Daniel */

.rader{
    float: left;
    width: calc(100% / 3);
    padding: 6px;
    box-sizing: border-box;
}

.pris{
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.pris:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.pris .noe {
    background-color: white;
    font size: 20px;
}

.pris .headline{
    background-color: aqua;
    color: white;
    font-size: 25px;
}

.pris li{
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.knapp{
    background-color: aqua;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
