body{
    width: 100%;
    height: 100%;
    margin: 0;
}
header{
    background: white;
    height: 100px;
    width: 100%;
}

.headerBox{
    width: 20%;
    height: 100px;
    float: right;
}

.headerLogo{
    width: 20%;
    height: 100px;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
}

.order{
    display:  inline-block;
    background-color: #D2DCE8;
    width: 10%;
    height: 50%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1.5%;
    margin-right: 2%;
    margin-left: 2%;
    float: right;
}

.orderText{
    margin-top: 8%;
    font-family: sans-serif;
    text-align: center;
    color: ghostwhite;
    font-size: 25px;
}

.background{
    width: 100%;
    /* endret siden sist*/
    left: 0;
    position: absolute;
    text-align: right;
    top: 55%;
    width: 100%;
    font-size: 30px;
    margin-left: -2%;
    color: ghostwhite;
    font-family: 'Arimo', sans-serif;
}

footer{
    position: absolute; /*endra 27.10 12:58*/
    bottom: 0;
    background: white;
    height: 100px;
    width: 100%;
}
img{

}
p{
    color: #4B698E;
    font-family: sans-serif;
    font-size: 28px;
    margin-top: 12%;
    text-align: center;
}

/*endret 27.10 13:41: Ryan*/

h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: 200;
    color: #748DAC;
}

h2{
    font-family: sans-serif;
    font-size: 130%; /*endra 12:09 31.10.2017 */
    font-weight: 100;
    color: #748DAC;
    line-height: 1.5; /* lagt til 12:10 31.10.2017 */
}


.howTitle{
    position: relative;
    margin-left: 10%;
    margin-top: 5%; /* endra 12:08 31.10.2017 */
    width: 30%;
    height: 30%;
    
}

.howInfo{
    position: absolute;
    margin-left: 20%;
    margin-top: 2%;
    width: 30%;
    height: 30%;
    
}

.howImage{
    width: 40%;
    height: 80%;
    float: right;
    position: absolute;
    right: 3%;
    margin-top: 3%; /* endra 12:06 31.10.2017 */

   
}

a{
    text-decoration: none;
}

p:hover{
    color: #D2DCE8;
} 
